
body {
    background-color: #020202 !important;
    
}
/* nav-bar started */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    align-items: center;
    border-bottom: 0.5px solid ;
   
}
#search-form{
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;
}
.offcanvas-body li{
    color: white;
    font-size: 50px;

}
.nav-item:hover{
    cursor: pointer;
    color: rgb(252, 175, 23);
}

/* bootstrap downbar */
/* .drop-1 .dropdown-item {
    font-size: 16px; 
    width: 190px; 
    height: 45px;
  }
  .drop-1 .dropdown-item img{
    float: right;
    margin-left: 10px;
  }
.drop-1 .dropdown-item:hover {
    background-color: rgb(51, 51, 51);
  } */
  
/* nav bar finished */

/* main section started */
.content-mainsec{
    color: white;
    margin-top: -1%;
    
}
.content-mainsec h1{
    font-size: 45px;
}
.watch-me-btn {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    color: #ffff !important;
    border: 1px solid #ffffff !important;
    
}



.watch-me-btn:hover {
    background-color: rgb(255, 172, 0) !important;
    color: rgb(2, 2, 2) !important;
    border-color: rgb(255, 172, 0) !important;
}
.carousel-button img{
    margin-right: -20px;
    width: 70px;
}

/* main section media queries */
/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .btn {
        display: block;
        margin: 0 auto;
        
    }
    .offcanvas-body li{
        font-size: 1rem !important;
    
    }

}



/* Media query for screens with a maximum width of 600px */
@media (max-width: 1222px) {
    .section-1-content-main-sec {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h1 {
        font-size: 1.9rem !important;
    }
 
}
@media (max-width: 992px) {
    .section-1-content-main-sec {
        display: flex;
        flex-direction: column;
        text-align: center;

    }
    .section-1 h1{
        font-size: 1.9rem !important;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .watch-me-btn{
        display: block;
        margin: 0 auto;
     
    }
    .carousel-button img{
      display: none;
    }
}

/* Media query for screens with a maximum width of 360px */
@media (max-width: 360px) {
    .section-1-content-main-sec {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 0px !important;
    }
    h1 {
        font-size: 0.9rem !important;
    }
    .watch-me-btn{
       width: 130px;
       font-size: x-small;
     
    }
    p{
        font-size: 0.6rem !important; 
    }
    .offcanvas-body li{
        font-size: 0.5rem !important;
    
    }
}

/* main section media queries ended */
/* main section ended */

/* Second section start */
.container-fluid{
    background-color: black; 
}
.row{
    display: flex; 
}

.card-body{
    background-color: #020202;
    height: 150%;
    
    
}
.card-body h6{
    font-size: 12px;
    color: gray;
}
.card-body p{
    font-size: 25px;
}
.card-text{
    text-align: start;
}
.text h1{
    font-weight: 650;

}

.view {
    color: rgb(255, 255, 255) !important;
    font-size: 17px !important;
    text-decoration: underline rgb(255, 172, 0);
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}


 .view-btn {
    background-color: transparent;
}

.view-btn button.view {
    border: none;
    border-bottom: 4px solid rgb(252, 175, 23);
    border-radius: none;
}


.view:hover {
    background-color: rgb(255, 172, 0) !important;
    transition: 1s;
    color: black !important;
} 

/* Second section ended */

/* Footer-started */
.footer {
    border-top: 0.5px solid gray;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0;
}

.footer-links { 
    list-style: none;
    padding-left: 0;
}

/* Media query for screens with a maximum width of 800px */
@media (max-width: 800px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 12px;
    }
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 9px;
    }
}

/* Media query for screens with a maximum width of 400px */
@media (max-width: 400px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 7px;
    }
}

/* Media query for screens with a maximum width of 576px */
@media (max-width: 576px) {
    .footer-links.align-items-sm-center {
        flex-direction: column;
        align-items: flex-start;
    }
}



.footer-links li {
    display: inline;
    margin-right: 30px;
    color: #cecece;
    cursor: pointer;
    font-size: 15px;
}


.footer-links li:hover {
    color: rgb(255, 172, 0);
    transition: 0.5s;
}


.links {
    font-size: 20px !important;
}

/* Media query for screens with a maximum width of 700px */
@media (max-width: 700px) {
    .links {
        font-size: 16px !important;
    }
}

/* Media query for screens with a maximum width of 576px */
@media (max-width: 576px) {
    .d-flex.flex-column.justify-content-start.align-items-sm-end {
        align-items: flex-start;
    }
}

/* Style for footer icons */
.footer-icons {
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out !important;
}

.footer-icons:hover {
    opacity: 0.3;
    transition: 1s;
}

/* Media query for screens with a maximum width of 576px */
@media (max-width: 576px) {
    .footer-icons {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

.links-2 {
    font-size: 10px;
    color: #808080;
}

/* Media query for screens with a maximum width of 800px */
@media (max-width: 800px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 12px;
    }
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 9px;
    }
}

/* Media query for screens with a maximum width of 400px */
@media (max-width: 400px) {
    .col-12.mt-4.pt-4.pb-4 .container-fluid {
        font-size: 7px;
    }
}


.footer-2-line:hover {
    opacity: 0.3;
}

.rklink{
text-decoration: none;
}

.links:hover {
    color: rgb(252, 175, 23);
    transition: 1s;
}

.drop-2 {
    cursor: pointer;
}
.drop-2  li{
    padding-top: 10px;
    padding-left: 10px;
}
.drop-2  li:hover{
    background-color: rgb(29, 29, 29) !important;
   
}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


.scroll-to-top-button.show {
    display: block;
}


.dropdown-button {
    background-color: black;
    color: white;
    padding: 22px;
    border: none;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}


.dropdown-button:hover {
    background-color: rgb(128, 128, 128);
    transition: 1s;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
    right: 0;
}

  #nav-right-icon{
    cursor: pointer;
  }

  







  


